@page "/calendario"

<PageTitle>Home</PageTitle>

@layout Navbar;

<h1 class="title">Calendario</h1>
<div class="buttons">
    <div class="basicButton" id="newReservation">
        <p>Realizar reserva</p>
    </div>
</div>

<script src="/scripts/NuevaReserva.js"></script>
