@page "/calendario"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

@layout Navbar;

<h1 class="title">Calendario</h1>
<div class="buttons">
    <div class="basicButton" @onclick="NuevaReserva">
        <p>Realizar reserva</p>
    </div>
</div>

@code {
    private void NuevaReserva()
    {
        NavigationManager.NavigateTo("/novaReserva");
    }
}
