@page "/conta"

@layout Navbar
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize];

<h1 class="title">
        Conta
        </h1>
        <div class="body">
            <div class="data">
                <div class="text-center">
                    <img src="/resources/image.jpg" class="rounded user-img" alt="...">
                  </div>
                <p class="nombre">María Lopez</p>
                <p class="departamento">Departamento: Informática</p>
                <p class="email">Email: marlop34@gmail.com</p>
                <p class="user">Docente</p>
            </div>
          <div class="formSubmit">
        <button type="button" name="submit" class="edit-btn btn btn-background" @onclick="EditarCuenta">
              Editar
            </button>
          </div>
        </div>

@code {
    private void EditarCuenta()
    {
        NavigationManager.NavigateTo("/editarConta");
    }
}
