@page "/espazos"

@layout Navbar

<h1 class="title">Espazos</h1>
<div class="buttons">
    <!-- Sacar los botones por consultas -->
    <div class="basicButton">
        <p>Biblioteca: espacio maker</p>
    </div>
</div>
