@page "/"

<PageTitle>Home</PageTitle>

<h1 class="title">Calendario</h1>
<div class="buttons">
    <div class="basicButton" id="newReservation">
        <p>Realizar reserva</p>
    </div>
</div>

<script src="/scripts/botones.js"></script>
