@page "/recursos"

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize];

@layout Navbar

<h1 class="title">Recursos</h1>
<div class="buttons">
    <!-- Sacar los botones por consultas -->
    <div class="basicButton">
        <p>Máquinas de coser</p>
    </div>
</div>
