@page "/reservas"

@layout Navbar

<h1 class="title">Reservas</h1>
<div class="buttons">
    <!-- Sacar los botones por consultas php -->
    <div class="basicButton">
        <p>Biblioteca: espacio maker</p>
        <p>20/02/24 9:50 - 11:30</p>
        <p>Activa</p>
    </div>
</div>

<script src="/scripts/botones.js"></script>
